/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #1DB954;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.username {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.useravatar{
    max-height: 35px;
    max-width: 35px;
    margin-right: .5rem;
}

.logoutButton {
    background-color: #000; /* Red-500 */
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.logoutButton:hover {
    background-color: #fff; /* Darker red */
    color: #1DB954;
}
